name: g2image
mode: train

#process
train_ratio: 0.8

#train
input_perturbation: 0.0
pretrained_model_name_or_path: "/root/autodl-tmp/hf_cache/stable-diffusion-v1-5"
change_pretrained_model_name_or_path: "stable-diffusion-v1-5/stable-diffusion-v1-5"
pretrained_graph_adapter_path: null
fix_graphqformer_textencoder: false
revision: "main"
variant: "fp16"
dataset_config_name: null

neighbor_image_column: "neighbors"
center_image_column: "center"
text_prompt_column: "text"
clip_extra_context_tokens: 4
max_train_samples: null
validation_prompts: null
cache_dir: "/root/autodl-tmp/hf_cache"
seed: 42
resolution: 256
cross_attention_freq: 2
center_crop: true
random_flip: true

train_batch_size: 16
train_data_dir: "/root/autodl-tmp/MMAG"
output_dir: "/root/autodl-tmp/OpenMAG/src/multimodal_centric/G2Image/pretrained"
logging_dir: "/root/autodl-tmp/OpenMAG/src/multimodal_centric/G2Image/logs"
test_output_dir: "/root/autodl-tmp/OpenMAG/src/multimodal_centric/G2Image/test_outputs"
image_encoder_dim: 768
pretrained_image_embedding_dir: null

num_train_epochs: 10
gradient_accumulation_steps: 1
lr_warmup_steps: 500
checkpointing_steps: 200
neighbor_num: 4

max_train_steps: null
gradient_checkpointing: false
learning_rate: 1e-4
scale_lr: false
lr_scheduler: "constant"
snr_gamma: null
use_8bit_adam: false
allow_tf32: false
use_ema: false
non_ema_revision: null
dataloader_num_workers: 0
adam_beta1: 0.9
adam_beta2: 0.999
adam_weight_decay: 0.01
adam_epsilon: 1e-8
max_grad_norm: 1.0
push_to_hub: false
hub_token: null
prediction_type: null
hub_model_id: null

mixed_precision: "fp16"
report_to: "tensorboard"
local_rank: -1
checkpoints_total_limit: null
resume_from_checkpoint: null #"latest"
enable_xformers_memory_efficient_attention: false
noise_offset: 0.0
validation_epochs: 5

tracker_project_name: "instructg2i"

load_qformer_imgproj: "None"

use_qformer: True
use_gnn: True

#test
model_dir: "/root/autodl-tmp/OpenMAG/src/multimodal_centric/G2Image/pretrained"
test_dir: "/root/autodl-tmp/MMAG"
device: "cuda:0"
if_wandb: false
wandb_init_name: "G2Image_test"
if_save_image: true
num_inference_steps: 50
diffusion_infer_batch_size: 16
score_batch_size: 16
max_index: 1000
neighbor_key: "neighbors"
